.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #116889;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text{
  color: #116889;
  font-family: 'Roboto', sans-serif;
}

.italic {
  font-style: italic;
}

.title{
  font-size: 90px;
  font-weight: 500;
}

.profile{
  width: 250px;
}

.background{
  background-image: url("background.png");
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a:link{
  color: currentColor;
}

svg:hover{
  fill: #116889;
}

.icons{
  width: 20%;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .icons {
    width: 100%;
  }
  .title{
    font-size: 60px;
  }
}